<header>
    <a href="/" class="header__logo">
        <img class="hid" src="img/logo_anime.jpg" />
    </a>
    
    <%- include('../partials/search.ejs') %>

    <nav class="header__nav">
        <a href="/about" class="link">O mnie</a>
        <div class="hor"></div>
        <a href="/contact" class="link">Kontakt</a>
    </nav>
</header>