<h1>O mnie</h1>
<p>
    Nazywam się Kuba. Pasjonuje się kinem i chętnie dzielę się tą pasją z innymi. Na tej stronie zamieszczam swoje teksty okołofilmowe: recenzje, eseje, ogólne przemyślenia dotyczące przemysłu filmowego. Zawodowo pracuję jako scenarzysta, a w wolnym czasie chodzę do kina i oglądam filmy. 
</p>